<div ng-controller="ChangeProfileController">
    <div class="col-lg-2">
        <a href="#/users/{{userData.username}}">

            <span>
                {{userData.profileImageData}}
            </span>

            <p>{{authService.getCurrentUser().userName}}</p>
        </a>
    </div>

    <div class="col-lg-4">
        <ul class="list-group-item-heading list-inline list-social-icons">
            <li>
                <a href="#/"><img src="/app/img/home.gif" /></a>
            </li>
            <li>
                <a href="#/users/{{userData.username}}/friends"><img src="/app/img/friends.gif" /></a>
            </li>

            <li ng-mouseenter="showPendingRequest=true" ng-mouseleave="showPendingRequest=false">
                <a href="#/friends/requests/" class="glyphicon glyphicon-user">
                    <span ng-if="pendingRequests.length > 0" class="badge"> {{pendingRequests.length}}</span>
                </a>
                <ul id="friend-requests-box" ng-if="showPendingRequest && pendingRequests.length > 0">
                    <li ng-repeat="request in pendingRequests" class="list-group-item">
                        <a href="#/user/{{request.user.username}}" class="media-left">
                            <img ng-src="{{userData.profileImageData}}" alt="profile picture" style="width: 50px; height: 50px" />
                        </a>
                        <div class="media-body">
                            <div class="media-body">
                                <a class="name" href="#/user/{{request.user.username}}" style="color:black">{{request.user.name}}</a>
                            </div>
                            <div class="media-right action">
                                <span ng-click="acceptFriendRequest(request)" class="media-left btn btn-success btn-sm">accept</span>
                            </div>
                            <div class="media-right action">
                                <span ng-click="rejectFriendRequest(request)" class="media-right btn btn-default btn-sm">reject</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#/profile"><img src="/app/img/editProfile.gif" /></a>
            </li>
            <li>
                <a href="#/profile/password"><img src="/app/img/changePassword.gif" alt="changePassword" /></a>
            </li>
            <li>
                <a href="#/logout" ng-click="logout()"><img src="/app/img/exit.gif" /></a>
            </li>
        </ul>

    </div>

    <div class="col-lg-6">

        <form class="navbar-form navbar-right" id="search-form" role="search">
            <div class="input-group">
                <input type="text" id="search-input" ng-model="searchTerm" ng-change="searchUser(searchTerm)" ng-blur="clearSearchResults()" class="form-control" placeholder="Search...">
            </div><!-- /input-group -->

            <div id="search-results" ng-if="searchResults" class="list-group">
                <div ng-repeat="user in searchResults" class="list-group-item">
                    <a href="#/user/{{getUserData.username}}/wall/">
                        <img ng-src="{{getUserData.profileImageData}}" alt="profile picture" style="width: 50px; height: 50px" />
                        <span class="name">{{getUserData.name}}</span>
                    </a>
                </div>
            </div>
        </form>




    </div>
</div>