<!--<pagination total-items="ads.numItems" ng-model="adsParams.startPage"
  items-per-page="adsParams.pageSize" ng-change="reloadAds()"
  max-size="9" boundary-links="true">
</pagination>

<ul class="ads">
    <li ng-repeat="ad in ads.ads" class="box" data-id="{{ad.id}}">
        <h1>{{ad.title}}</h1>
        <div><strong>Date:</strong> {{ad.date | date:'dd-MMM-yyyy'}}</div>
        <div ng-if='ad.imageDataUrl'>
            <strong>Image:</strong><img class="ad-image" ng-src="{{ad.imageDataUrl}}" />
        </div>
        <div><strong>Text:</strong> {{ad.text}}</div>
        <div><strong>Name:</strong> {{ad.ownerName}}</div>
        <div><strong>Email:</strong> {{ad.ownerEmail}}</div>
        <div><strong>Phone:</strong> {{ad.ownerPhone}}</div>
    </li>
</ul>

<div ng-if="ads.ads.length==0" class="box no-data">
    No ads found.
</div>-->

<div ng-if="authService.isAnonymous()" id="app-content" class="row">
    <h1 class=" page-header">
        Welcome to Social Network
    </h1>
    <div class="col-lg-12">
        <div class="col-md-1">
            <a href="#/login" class="btn btn-default">Login</a>
        </div>
        <div class="col-md-1">
            <a href="#/register" class="btn btn-default">Register</a>
        </div>
    </div>
    <div ng-view></div>
</div>

<div ng-if="authService.isLoggedIn()" id="user-page" class="row">
    <div class="well-lg">
        <div class="col-lg-2">

            <span class="img-user">
                {{authService.getCurrentUser().profileImageData}}
            </span>


            <p>{{authService.getCurrentUser().userName}}</p>

            <span></span>
            <span></span>


        </div>
        <div class="col-lg-4">

            <ul class="list-unstyled list-inline list-social-icons">
                <li>
                    <a href="#/"><img src="/app/img/home.gif" /></a>
                </li>
                <li>
                    <a href="#/users/:username/friends"><img src="/app/img/friends.gif" /></a>
                </li>
                <li>
                    <a href="#/profile"><img src="/app/img/editProfile.gif" /></a>
                </li>
                <li>
                    <a href="#/profile/password"><img src="/app/img/changePassword.gif" alt="changePassword"/></a>
                </li>
                <li>
                    <a href="#/" ng-click="logout()"><img src="/app/img/exit.gif" /></a>
                </li>
            </ul>

        </div>
        <div class="col-lg-6">

            <div class="input-group">
                <!--<input type="search" ng-model="search" placeholder="Search...">-->
                <input type="text" class="form-control" placeholder="Search..." ng-model="searchText" />
                <!--     my-on-key-down-call="callUserSearch()>
                <!--ng-model="asyncselected"
                typeahead="userdata for users in " typeahead-loading="loadingUsers">-->
                <i ng-repeat="userName in users | filter:searchText">
                    {{ name }}
                </i>
                <!--<i ng-show="loadingUsers" class="glyphicon glyphicon-refresh"></i>-->

                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>

                <form class="navbar-search col-md-3 docs-search ng-pristine ng-valid" ng-submit="submit()" ng-class="{focus:focus}">
                    <span class="glyphicon glyphicon-search search-icon"></span>
                    <input name="as_q" class="search-query ng-pristine ng-valid ng-touched" type="text" placeholder="Click or press / to search" ng-model="q" autocomplete="off" docs-search-input="" ng-change="search(q)" ng-blur="focus=false" ng-focus="focus=true">
                </form> 
            </div>
            <div class="search-results-container ng-hide" ng-show="hasResults">
                <div class="container">
                    <div class="search-results-frame">
                        <!-- ngRepeat: (key, value) in results -->
                    </div>
                    <a class="search-close" href="" ng-click="hideResults()">
                        <span class="glyphicon glyphicon-remove search-close-icon"></span> Close
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!--<div ng-include="'templates/partial/userPage.html'" class="col-lg-12" ></div>-->
    <div class="col-lg-12">
        <!--<div ng-include="'templates/partial/userPage.html'"></div>-->
        <div ng-view></div>
    </div>
</div>
