<!--<pagination total-items="ads.numItems" ng-model="adsParams.startPage"
  items-per-page="adsParams.pageSize" ng-change="reloadAds()"
  max-size="9" boundary-links="true">
</pagination>

-->


<div class="panel-group">
    <div ng-if="authService.isLoggedIn()" class="row">
        <div ng-include="'templates/homeHeader.html'" ng-controller="HomeController">
        </div>
            <div ng-include="'templates/partial/feedPage.html'">
            </div>
    </div>

    <div ng-if="authService.isAnonymous()" class="row">
        <h1 class="page-header">
            Welcome to Social Network
        </h1>
        <div class="col-lg-12">
            <div class="col-lg-1">
                <a href="#/login" class="btn btn-default">Login</a>
            </div>
            <div class="col-lg-1 col-lg-offset-1">
                <a href="#/register" class="btn btn-default">Register</a>
            </div>
        </div>
    </div>
</div>
