<div class="row">
   <h2>Login</h2>
   <p>
       <label for="username">Username:</label>
       <input type="text" id="username" ng-model="userData.username" required />
   </p>
   <p>
       <label for="password">Password:</label>
       <input type="password" id="password" ng-model="userData.password" required />
   </p>
   <p>
       <a ng-click="login(userData)" class="button">Login</a>
       <a href="#/register" class="link">Register</a>
   </p>

    <form class="login form-horizontal col-md-6">
        <fieldset>
            <h2>Login</h2>
            <div class="form-group">
                <label for="login-username" class="col-lg-4 control-label">Username</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="login-username" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="login-password" class="col-lg-4 control-label">Password</label>
                <div class="col-lg-8">
                    <input type="password" class="form-control" id="login-password" placeholder="Password">
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button id="login-btn" type="button" class="btn btn-lg btn-primary">Login</button>
                <span>or</span>
                <a href="#/register">Register</a>
            </div>
        </div>
    </form>


</div>
