<div class="row">
    <form class="register form-horizontal col-lg-12">
        <fieldset>
            <div class="col-lg-9 form-info">
                <div class="form-group">
                    <label for="password" class="col-lg-3 control-label">Old Password:</label>
                    <div class="col-lg-9">
                        <input type="password" class="form-control" id="oldPpassword" placeholder="Old Password" ng-model="userData.password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-lg-3 control-label">Password:</label>
                    <div class="col-lg-9">
                        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="userData.password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-lg-3 control-label">Confirm Password:</label>
                    <div class="col-lg-9">
                        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" ng-model="userData.confirmPassword" required>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
