<div class="row" ng-if="authService.isLoggedIn()">
    <div class="col-lg-12">
            <div class="page-title">
                <h3>
                    <img src="/app/img/home.gif" />
                    <span>News Feed</span>
                </h3>
            </div>
    </div>
    <!--<pagination total-items="posts.numItems" ng-model="postParams.startPage"
                items-per-page="postParams.pageSize" ng-change="reloadAds()"
                max-size="7" boundary-links="true">
    </pagination>-->
    <div class="col-lg-8">
        <div ng-repeat="post in posts" class="post">
            <div class="well .alert-success col-xs-12 col-md-12" >
                <div class="form-group col-xs-12 col-md-12">
                    <div class="media-left">
                        <img ng-src="{{userData.profileImageData}}" err-src="{{defaultImage}}" alt="profile picture" style="width: 50px; height: 50px" />
                    </div>
                    <div class="media-body">
                        
                        <div>{{post.date | date: "dd MMM yyyy HH:mm:ss"}}</div>
                    </div>
                    <div  class="btn-group drop-down post-caret" role="group">
                        <span type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="fa fa-chevron-down drop-down-post-caret"></span>
                        </span>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li ng-if="post.author.username === username" ng-click="post.editing = true; post.newPostContent = post.postContent"><a>edit</a></li>
                            <li ng-if="post.author.username === username || isOwnWall"><a ng-click="deletePost(post)">delete</a></li>
                        </ul>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-md-12">
                    <span >{{post.postContent}}</span>
                    
                </div>

                

            </div>
        </div>
    </div>


    <div class="col-lg-4">
        <div ng-include="'templates/partial/friendsBox.html'"></div>
    </div>
