<!--Ads<span ng-if="pageTitle"> &ndash; {{pageTitle}}</span>

<div ng-if="authService.isLoggedIn()" class="user-area">
  <span>{{authService.getCurrentUser().username}}</span>
  <a ng-click="logout()" class="link">Logout</a>
</div>-->


<div class="col-lg-12">
    <div class="page-title">
        <img src="/app/img/home.gif" />
        <span>News Feed</span>
        
    </div>

</div>

<div class="col-lg-12">
    <div class="col-lg-8">
        <div class="media" ng-repeat="post in posts." data-id="{{ad.id}}">
            <div class="pull-left">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Service Four</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
            </div>
        </div>

    </div>
    <div class="col-lg-4">
        da
    </div>
</div>